
.DS_Store
IOS Assessment.xcworkspace/xcuserdata/mahmoudabdelwahab.xcuserdatad/UserInterfaceState.xcuserstate
MainApp/MainApp.xcodeproj/xcuserdata/mahmoudabdelwahab.xcuserdatad/xcschemes/xcschememanagement.plist
UniversityList/UniversityList.xcodeproj/xcuserdata/mahmoudabdelwahab.xcuserdatad/xcschemes/xcschememanagement.plist
